.title 
{
    text-align: center;
    color: #F2F2F2;
    background: #003D79;
    margin: 0;
    padding: 0.6666em;
}

body
{
    padding: 0;
    margin: 0;
    background-color: #E1E1E1;
    height: 100%;
}

.heading
{
    text-align: center;
}

p
{
    text-align: left;
    width: 350px;
    margin: auto;
}

form 
{
    display: block;
    background-color: lightblue;
    padding: .7em;
}

#searchBar
{
    margin: auto;
    width: 350px;
}

#searchBar,
#searchBar span,
#searchBar select,
#searchBar input,
#searchBar button
{
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
}

#searchBar select,
#searchBar input
{
    background-color: #F2F2F2;
}

#divError
{
    color: red;
    text-align: center;
}

#note
{
    text-align: center;
}

#calendar
{
    display: block;
    margin: auto;
    align-content: center;
    min-height: 100%;
    height: 100%;
    padding: 10px;
}

.quarterDay
{
    background-color: white;
    width: 350px;
    margin: auto;
    margin-top: 9px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.row
{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    display: block;
    height: 24px;
}

.hour
{  
    width: 3em;
    text-align: right;
    display: inline-block;
    color: gray;
    padding: 0;
    margin: 0px;
}

.hourLine
{
    display: inline-block;
    position: relative;
    width: 280px;
    top: 10px;
    border-top: 1px solid gray;
    margin: 0px;
    padding: 0;
    margin-left: 7px;

}

.classCode
{
    color: gray;
    text-align: center;
    display:inline-block;
    width: 260px;
    position: relative;
    padding: 0;
    margin-top: 5px;
}

.filled
{
    background-color: lightskyblue;
    border-radius: 10px;
    width: 250px;
    margin-left: 15px;
    height: 1em;
}

.text
{
    text-align: left;
    margin: auto;
    display: block;
    width: 330px;
}

footer
{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #E1E1E1;
    border-top: 1px solid #999999;
}

.foot
{
    color: #494949;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(160,160,160,160), 2px 2px 2px 2px rgba(160,160,160,160);
    width: 400px;
    padding: 10px;
    margin: auto;
}

@media (max-width: 506px)
{
    #searchBar,
    #searchBar span,
    #searchBar select,
    #searchBar input,
    #searchBar button
    {
        font-size: 16px;
    }
}